* {
  color: rgb(104, 104, 104);
  padding: 0;
  font-weight: 600;
  font-family: "Glory", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
}
::placeholder {
  color: black;
  opacity: 0.4;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body,
html {
  width: 99%;
  max-width: 99%;
  min-width: 99%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
body {
  background: linear-gradient(-45deg, #a34326, #42803a, #157699, #0e8f71);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 10% 40%;
  }
  50% {
    background-position: 100% 40%;
  }
  100% {
    background-position: 10% 40%;
  }
}

form {
  width: 33%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 50px;
  padding: 50px;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(27, 29, 31, 0.48) 6px 2px 16px 0px;
}
input {
  height: 10%;
  width: 55%;
  line-height: 1.5;
  border-radius: 30px;
  border: none;
  box-shadow: rgba(27, 29, 31, 0.48) 6px 2px 16px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
  text-align: center;
  transition: letter-spacing 0.5s, width 0.5s;
  background: rgb(244, 244, 253);
}
input[type="button"] {
  position: relative;
  width: 30%;
  transform: scale(1.5);
}
input[type="button"]:active {
  box-shadow: rgba(27, 29, 31, 0.48) 6px 2px 16px 0px,
    0 10px 20px rgba(20, 20, 20, 0.1) inset;
}

.svgcont{
  display: none;
}

label,
textarea {
  letter-spacing: 1px;
  padding: 10px;
}
textarea {
  padding: 10px;
  height: 30%;
  width: 70%;
  line-height: 1.5;
  border-radius: 30px;
  resize: none;
  border: none;
  box-shadow: rgba(27, 29, 31, 0.48) 6px 2px 16px 0px;
  outline: none;
  background: rgb(244, 244, 253);
}
label {
  display: block;
  margin-bottom: 10px;
}
.tasks {
  width: 46%;
  height: 60%;
  max-height: 60%;
  max-width: 46%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 50px;
  padding: 50px;
  border-radius: 30px;
  border: 1px solid #ccc;
  box-shadow: rgba(27, 29, 31, 0.48) 6px 2px 16px 0px;
  background-color: rgb(255, 255, 255);
}
.taskBody {
  height: 100%;
  width: 65%;
  max-width: 65%;
  min-width: 65%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: rgba(27, 29, 31, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  text-align: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-y: auto;
  background: rgb(244, 244, 253);
  margin: 0;

}
.taskBody::-webkit-scrollbar {
  display: none;
}
.taskBody p {
  margin: 0;
  width: 65%;
  padding: 10px;
  max-width: 65%;
  min-width: 65%;
  height: 10%;
  word-wrap: break-word;
}
h2 {
  font-size: 35px;
}
.taskList {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid #ccc;
  box-shadow: rgba(27, 29, 31, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  background: rgb(244, 244, 253);
  overflow-y: auto;
}
.taskList::-webkit-scrollbar {
  width: 12px;
}
.taskList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.taskList::-webkit-scrollbar-thumb {
  background: rgb(244, 244, 253);

  border-radius: 20px;
  border: 1px solid rgb(155, 155, 155);
}
.taskList * {
  margin: 0;
}
.task {
  height: 10%;
  min-height: 10%;
  word-wrap: break-word;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  background-color: rgb(255, 255, 255);

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  margin-top: 5%;
  cursor: pointer;
  overflow: hidden;
  border-radius: 30px 0 0 30px;
  padding-left: 12px;
}
.active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
}
.task:hover .del {
  top: 0px;
}
.del {
  height: 20px;
  width: 20px;
  position: relative;
  right: 10px;
  top: -100%;
  transition: all 0.2s;
  background-image: url(images/trash.png);
  background-size: contain;
  opacity: 0.5;
  transition: all 0.5s;
}
.del:hover {
  transform: rotateZ(360deg);
}
.del img {
  height: 90%;
  width: 90%;
}


@media (max-width: 1448px) {
  * {
    font-size: 15px;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    font-size: 5px;
  }
  form {
    width: 80%;
    height: 40%;
    padding: 10px;
    margin: 0;
    margin-top: 20px;

  }
  .tasks {
    width: 80%;
    height: 40%;
    max-height: 40%;
    min-height: 40%;
    max-width: 80%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .taskList{
    width: 40%;
    display: flex;
  }

  .taskBody{
    width: 60%;
    max-width: 60%;
    min-width: 60%;
  }

  .task{
    width: 70%;
    min-width: 50%;

  }
  .del {
    top: 0;
  }
  input[type="text"] {
    height: 20%;
    min-height: 20%;
    max-height: 20%;

  }
  input[type="button"] {
    transition: none;
    font-size: 12px;
    top: 40px;
    height: 20%;
    min-height: 20%;
    max-height: 20%;
    width: 50%;
  }
  .taskList::-webkit-scrollbar {
    width: 12px;
  }
  .taskList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  .taskList::-webkit-scrollbar-thumb {
    background: rgb(244, 244, 253);
  
    border-radius: 20px;
    border: 1px solid rgb(155, 155, 155);
  }
  textarea {
    height: 20%;
    min-height: 20%;
    max-height: 20%;
  }
}







/* ----------------------------------- */








@media (max-width: 785px) {
  * {
    font-size: 12px;
  }
  h2{
    font-size: 20px;
  }
  .svgimg{
    height: 30px;
    width: 30px;
    margin: 10px;
    cursor: pointer;
  }
  .svgcont{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    top: -20px;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    font-size: 5px;
  }
  form {
    width: 80%;
    height: 40%;
    padding: 10px;


  }
  .tasks {
    width: 80%;
    height: 40%;
    padding: 10px;  

  }
  .taskList::-webkit-scrollbar {
    width: 12px;
  }
  .taskList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  .taskList::-webkit-scrollbar-thumb {
    background: rgb(244, 244, 253);
  
    border-radius: 20px;
    border: 1px solid rgb(155, 155, 155);
  }
  .taskList{
    height: 24%;
    width: 100%;
    left: 56px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
  }
  .taskList *{
    margin: 0;

  }
  .tasks{
    flex-direction: column;
    gap: 2px;
  }
  .taskBody{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 0px 0px 30px 30px ;
  }

  .task{
    width: 100px;
    height: 50%;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;

  }
  .del {
    top: 0;
    height: 10px;
    width: 10px;
  }
  input[type="text"] {
    height: 30%;
  }
  input[type="button"] {
    transition: none;
    font-size: 12px;
    top: 40px;
    height: 40%;
    width: 50%;
  }
  textarea {
    height: 50%;
  }
}
